@page "/"
@page "/home"
@attribute [Authorize]

@*<PageTitle>Home</PageTitle>*@

<div class="jumbotron">
    <h1 class="display-4">고객지원</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
</div>

@*<div style="display:flex;justify-content:flex-end">
    <MudItem xs="12" sm="6" md="4">
        <MudSelect T="string" Label="프로젝트" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
            <MudSelectItem Value="@("전체")" />
            <MudSelectItem Value="@("NNN MES 구축")" />
            <MudSelectItem Value="@("DDD MES 구축")" />
            <MudSelectItem Value="@("AAA MES 구축")" />
        </MudSelect>
    </MudItem>
</div>*@
<div class="row">
    <div class="col-md-8 d-sm-none d-md-block"></div>
    
        <MudItem xs="12" sm="12" md="4">
            <MudSelect T="string" Label="프로젝트" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Value="@("전체")" />
                <MudSelectItem Value="@("NNN MES 구축")" />
                <MudSelectItem Value="@("DDD MES 구축")" />
                <MudSelectItem Value="@("AAA MES 구축")" />
            </MudSelect>
        </MudItem>
    
</div>

<br />

<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header  fw-bold">
                진행상태
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header  fw-bold">
                등록유형
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header  fw-bold">
                완료율
            </div>
            <div class="card-body">
                <MudPaper Class="pa-4">
                    @*<MudChart ChartType="ChartType.Pie" InputData="@data" @bind-SelectedIndex="Index" InputLabels="@labels" Width="100px" Height="100px" />*@
                    <MudChart ChartType="ChartType.Pie" InputData="@data" @bind-SelectedIndex="Index" Width="100px" Height="100px" />
                </MudPaper>
                @*                <MudPaper Class="pa-4 mt-2 d-flex justify-center">
                    <MudButton OnClick="AddDataSize" Variant="Variant.Filled" Color="Color.Primary">Add</MudButton>
                    <MudButton @onclick="RandomizeData" Variant="Variant.Filled" Class="mx-4">Randomize</MudButton>
                    <MudButton OnClick="RemoveDataSize" Variant="Variant.Filled" Color="Color.Secondary">Remove</MudButton>
                    </MudPaper>
                    <MudText Typo="Typo.h6">Selected portion of the chart: @Index</MudText>*@
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 fw-bold">접수</div>
                    <div class="col-6" style="text-align:right"><a href="#">More...</a></div>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6  fw-bold">진행</div>
                    <div class="col-6" style="text-align:right"><a href="#">More...</a></div>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6  fw-bold">완료</div>
                    <div class="col-6" style="text-align:right"><a href="#">More...</a></div>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {
    private int Index = -1; //default value cannot be 0 -> first selectedindex is 0.
    int dataSize = 4;
    double[] data = { 77, 25, 20, 5 };
    string[] labels = { "Uranium", "Plutonium", "Thorium", "Caesium", "Technetium", "Promethium",
                        "Polonium", "Astatine", "Radon", "Francium", "Radium", "Actinium", "Protactinium",
                        "Neptunium", "Americium", "Curium", "Berkelium", "Californium", "Einsteinium", "Mudblaznium" };

    Random random = new Random();

    void RandomizeData()
    {
        var new_data = new double[dataSize];
        for (int i = 0; i < new_data.Length; i++)
            new_data[i] = random.NextDouble() * 100;
        data = new_data;
        StateHasChanged();
    }

    void AddDataSize()
    {
        if (dataSize < 20)
        {
            dataSize = dataSize + 1;
            RandomizeData();
        }
    }
    void RemoveDataSize()
    {
        if (dataSize > 0)
        {
            dataSize = dataSize - 1;
            RandomizeData();
        }
    }
}
